#home{
    border-left: 1px dotted black;
}

#main{
    background-color: #264653;
    margin: 20%;
    margin-top: 5%;
}

#title{
    text-align: center;
    background-color: #f4a261;
}

.me-img{
    text-align: center;
    transition: transform 0.5s ease-in-out;
}

.me-img:hover{
    transform: scale(1.2);
}

#content{
    background-color: #2a9d8f;
}