#home{
    border-left: 1px dotted black;
}

#main{
    margin: 20%;
    margin-top: 5%;
}

#title{
    text-align: center;
}

.me-img{
    text-align: center;
    transition: transform 0.5s ease-in-out;
}

.me-img:hover{
    transform: scale(1.2);
}