#home{
    border-left: 1px dotted black;
}

#content{
    background-color: #2a9d8f;
}

#main{
    margin: 20%;
    margin-top: 5%;
    background-color: #264653;
}

#title{
    text-align: center;
    background-color: #f4a261;
}

.images{
    width: 200px;
    height: 300px;
    padding: 20px;
    float: left;
    transition: transform 0.5s ease-in-out;;
}

.images:hover{
    transform: scale(1.2);
}

#w2{
    float: right;
}

#w1-txt{
    height: 315px;
}

#w2-txt{
    height: 315px;
}

#w3-txt{
    height: 315px;
}